<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="template-pattern">[%date{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] --- [%-35.35c{1}:%-4line] - %message%n</Property>
    </Properties>
    
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8">
                <Pattern>${template-pattern}</Pattern>>
            </PatternLayout>
        </Console>
        
        <RollingFile name="RollingFileAppender"
                     append="true"
                     fileName="logs/businessmanagement.log"
                     filePattern="logs/businessmanagement.log.%i">
            <PatternLayout charset="UTF-8">
                <Pattern>${template-pattern}</Pattern>>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
